*{
    margin: 0px;
    padding: 0px;
}



body{
    padding-left: 15em;
    padding-right: 15em;
    align-items: justify;
}

.navbar{
    padding-top: 5em;
    padding-bottom: 10em;
}
.nav-left{
    text-decoration: none;
    color: black;
    font-family: "Amiko";
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    display: inline-block;
    border: none;
}

.nav-right{
    text-decoration: none;
    color: #adadad;
    font-family: 'Amiko';
    cursor: pointer;
    padding-left: 25px;
    font-size: 15px;
    display: inline-block;
    float: right;
    margin-top: 15px;
        
}

.nav-left:hover{
    color: #4c4747;
}


.nav-right:hover{
    color: black;
}

.right{
    float: right;
    margin-top: -550px;
}

.heading{
    padding-bottom: 2em;
    font-size: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .05em;
    font-style: normal;
    font-family: "Amiko";

}

.right-block {
   
    color: #949494;
    cursor: pointer;

}

.footer{
    font-family: "proxima-nova";
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 1em;
    color: #575757;
}

.fdiv{
    padding-bottom: 80px;
    padding-top: 60px;
    color: #575757;

}
.link{
    color: #575757;
    text-decoration-line: underline black;
}
.link:hover{
    color: black;
    text-decoration-line: underline #575757;
}

.img{
    width: 650px;
    height: 550px;
}
